.lead__subtitle {
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  width: 640px;
  text-align: center;
  margin: 32px auto 0;
}

@media screen and (max-width: 768px) {
  .lead__subtitle {
     width: 84%;
     font-size: 3.91vw;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
     font-size: 16px;
     line-height: 125%;
     margin: 16px auto 0;
     width: 288px;
  }
}